<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Caliburn.Micro" version="2.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="2.0.1" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Validation.Integration.WPF" version="6.0.1304.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="Essential.Diagnostics" version="1.2.501.0" targetFramework="net45" />
  <package id="Essential.Diagnostics.Config" version="1.2.501.0" targetFramework="net45" />
  <package id="morelinq" version="2.0.0-alpha01" targetFramework="net45" />
</packages>